{% extends "skeleton.html" %}
{% load i18n %}


<!-- HEADER -->

{% block txtMajor %}
    <div class="cell text-center"> {% trans "For url:" %} {{ your_url }} </div>
{% endblock %}
{% block form %}
    <div class="input-group cell text-center">
        <div id="form">
            <input type="text" class="input-group-field" id="post-shortlink" value="{{ my_url }}/{{ url.alias }}" readonly/>
            <div class="input-group-button">
                <button class="button" id="copy-button" data-clipboard-target="#post-shortlink">{% trans "Copy" %}</button>
            </div>
        </div>
    </div>

{% endblock %}

<!-- FOOTER -->
{% block 'js' %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
    <script type="text/javascript">(function(){new Clipboard("#copy-button");})();</script>
{% endblock %}
