{% load i18n static sass_tags compress %}

<!DOCTYPE html>

<html>

<head>
	<title>{% block title %}Url Shortener{% endblock %}</title>
	{% compress css %}
	<link href="{% sass_src 'shortener/scss/main.scss' %}" rel="stylesheet" type="text/css" /> {% endcompress %}
	<link rel="shortcut icon" href="{% static 'shortener/favicon.ico' type='image/x-icon' %}">
	<meta HTTP-EQUIV="CACHE-CONTROL" content="no-Cache">

</head>

<body>

	<header>
		<div class="grid-container">
			<div class="grid-x">
				<h1 class="cell text-center">{% block header %}<a href="/">Url Shortener</a>{% endblock %}</h1>
			</div>
		</div>
	</header>

	<div class="grid-container">
		<div class="grid-x">
			{% block txtMajor %} {% endblock %}
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-x">
			{% block form %} {% endblock%}
		</div>
	</div>

	<footer>
		<h6>{% block footer %}{% trans "© 2018, Made With ❤ By Clement  All rights reserved." %}{% endblock %}</h6>
	</footer>



	{% compress js %}
	<script src="{% static 'shortener/vendor/node_modules/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'shortener/vendor/node_modules/foundation-sites/js/foundation.core.js' %}"></script>
	{% block 'js' %}{% endblock %} {% endcompress %}
</body>

</html>
