<!DOCTYPE html>

<html>

	<head>

		<title>TestingCSS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'shortener/style.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">

	</head>

	<body>

		<h1>UrlShortener</h1>

		<form action="/your-name/" method="post">
			<input type='hidden' name='csrfmiddlewaretoken' value='p5OFbsFtz2hra9k1u2tOfumM3GBuVSsLkJkYi5KPPRkzMrRkECc7u4XPyf0ciQRL' />			
			<tr>
				<td>
					<input type="url" name="your_url" maxlength="200" required id="id_your_url" />
				</td>
				<br />
			</tr>
			<input type="submit" value="Submit" />
		</form>

	</body>

</html>