html, body {
	background-color: #1C2326;
	padding: 0;
	margin: 0;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 9vw;
}

input[type=url] {
	min-width: 1000px;
	font-size: 5vw;
	text-align: center;
	margin: 0;
	min-width: 100%;
	width: 100%;
	max-width: 100%;
    box-sizing:border-box;
}

input[type=submit] {
	font-size: 2vw;
	margin-left: calc(50% - 3.5vw);
	margin-top: 3%;
	background-color: red;
    color: black;
    border: 2px solid #1C2326;
}

input[type=submit]:hover {
	background-color: #555555;
    color: white;
}